build/
out/
cmake-build-*/
_deps/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.efi
*.obj
*.o
*.lib
*.a
*.exp
*.pdb
*.ilk
.vs/
.vscode/
.idea/
*.suo
*.user
*.sln.docstates
.DS_Store
Thumbs.db
*.exe
.cache
__cmake_systeminformation
